---
import Layout from '../../layouts/Layout.astro';
import Navigation from '../../components/Navigation.astro';
import Team from '../../components/Team.astro';
import { people } from '../../data/data.js';

const { person: personNameLowerCase } = Astro.params;

const response = await fetch('http://localhost:4321/matches');
const matches = await response.json();

const person = people[personNameLowerCase];
---

<Layout title="{person.name}">
    <h1>{person.name}</h1>
    <ul>
        {person.teams.map((team) => <li><Team name={team.name} /></li>)}
    </ul>
</Layout>
