---
import Layout from "../../layouts/Layout.astro"
import Person from "../../components/Person.astro"
import Team from "../../components/Team.astro"
import { people } from "../../data/data.ts"
import type { TeamT } from "../../models/models.ts"
---
<Layout title="People">
    <h1>People</h1>
    <div class="people">
        {Object.values(people).map((person) =>
            <div class="person">
                <Person person={person} showProbability={true} />
            </div>
            <div class="teams owned">
                {person.teams &&
                    person.teams.map((team: TeamT, index: number) => (
                        <span class="team">
                            <Team team={team} hidePerson={true}/>
                            {index < person.teams!.length - 1 && <>•</>}
                        </span>
                    ))
                }
            </div>
        )}
    </div>
</Layout>

<style>
    .people {
        display: grid;
        grid-template: "person teams";
        grid-template-columns: 168px 1fr;
    }

    .people > div {
        padding-bottom: 16px;
    }

    .owned, .owned a {
        color: var(--deemphasized-text-color);
        font-size: var(--large-font-size);
    }
</style>
