---
import Layout from "../../layouts/Layout.astro"
import Person from "../../components/Person.astro"
import { people } from "../../data/people.ts"
---
<Layout title="People">
    <h1>People</h1>
    <ul>
        {Object.values(people).map((person) => <li><Person name={person.name} /></li>)}
    </ul>
</Layout>
