---
import Layout from "../layouts/Layout.astro"
import Match from "../components/Match.astro"
import { matches } from "../data/data.ts"
import { Status } from "../models/models.ts"
import type { MatchT } from "../models/models.ts"

const upcomingMatches = matches.filter((m: MatchT) => m.status === Status.UPCOMING)
const minKickoffTime = Math.min(...upcomingMatches.map(m => m.kickoff.getTime()))
const nextMatches = upcomingMatches.filter((m: MatchT) => m.kickoff.getTime() === minKickoffTime)

const finishedMatches = matches.filter((m: MatchT) => m.status === Status.FINISHED)
const maxKickoffTime = Math.max(...finishedMatches.map(m => m.kickoff.getTime()))
const lastMatches = finishedMatches.filter((m: MatchT) => m.kickoff.getTime() === maxKickoffTime)

const currentMatches = matches.filter((m: MatchT) => m.status === Status.CURRENT)
---

<Layout title="Home">
    <h1>Home</h1>
    {currentMatches.length > 0 &&
        <>
            <h2>Now Playing</h2>
            {currentMatches.map((match: MatchT) => <Match match={match} />)}
        </>}
    {nextMatches.length > 0 &&
        <>
            <h2>Next Match</h2>
            {nextMatches.map((match: MatchT) => <Match match={match} />)}
            <p><a href="/matches/upcoming/">Upcoming Matches</a></p>
        </>
    }
    {lastMatches.length > 0 &&
        <>
            <h2>Previous Match</h2>
            {lastMatches.map((match: MatchT) => <Match match={match} />)}
            <p><a href="/matches/finished/">Completed Matches</a></p>
        </>}
</Layout>
