---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tom – Euro 2024 Sweepstake">
	<main>
		<h1><span class="text-gradient">Tom</span></h1>
		<table>
			<thead>
				<tr>
					<th>Team</th>
					<th>Next Match</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="/team/italy/">Italy</a></td>
					<td><a href="/group/c/">Group C</a> v <a href="/team/slovakia/">Slovakia</a> (<a href="/person/fra/">Fra</a>), 7pm tomorrow</td>
				</tr>
				<tr>
					<td>Poland</td>
					<td>Group D v England (<a href="/person/dave/">Dave</a>), 7pm June 20th</td>
				</tr>
			</tbody>
		</table>
	</main>
</Layout>
