<footer>
    <p>&copy; 2024 Scheming Pev Enterprises</p>
</footer>

<style>
    footer {
        border-top: 1px solid var(--body-text-color);
        font-size: small;
        margin-top: 4rem;
        padding-bottom: 48px;
    }
</style>
