---
---
<nav>
    <a href="/">Home</a>
    <a href="/people/">People</a>
    <a href="/teams/">Teams</a>
    <a href="/matches/upcoming/">Upcoming Matches</a>
    <a href="/matches/finished/">Finished Matches</a>
</nav>

<style>
    nav {
      display: none;
      margin: 48px 0;
    }

    nav a {
      display: block;
      text-align: center;
      padding: 10px 0;
      text-decoration: none;
      font-size: var(--large-font-size);
      font-weight: normal;
      text-transform: uppercase;
    }

    nav a {
        border-bottom: transparent 10px solid;
    }
    nav a:hover,
    nav a:focus {
        border-bottom: var(--text-color) 10px solid;
    }

    .expanded {
      display: block;
    }

    @media screen and (min-width: 636px) {
      nav {
        display: block;
        position: static;
        width: auto;
        background: none;
      }

      nav a {
        display: inline-block;
        padding: 16px;
      }
    }
</style>
