---
import Probability from "./Probability.astro"
import type { TeamT } from "../models/models.ts"

const { person, showProbability } = Astro.props
const isEliminated = person.teams.every((team: TeamT) => (team.upcoming?.length || 0) + (team.current?.length || 0)) === 0
const classes = "name" + (isEliminated ? " eliminated" : "")
const probability: number = person.teams.reduce((acc: number, team: TeamT) => acc + (team.probability || 0), 0)
---
<span class="person component">
    <a class={classes} href={`/people/${person.name.toLowerCase()}/`}>{person.name}</a>
    {showProbability && <Probability probability={probability} />}
</span>
